* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: top center;
    font-family: 'Cinzel', serif;
    background-color: #fffbff;
    color: #1e1b16;
    transition: ease-in-out 300ms;
}

.dark-mode {
    background-color: #1e1b16;
    color: #e9e1d9;
}

h1 {
    font-family: 'Game of Thrones', cursive;
    font-size: 1.25rem;
}

header {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

#logo-container {
    margin-right: 2rem;
}

#buttons-container {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    flex-wrap: no-wrap;
}

select {
    width: 120px;
    appearance: none;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    position: relative;
    display: block;
    padding: 1rem;
    border: 2px solid lightgray;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.new-game-btn, .dismiss-btn, .start-game-btn {
    width: fit-content;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    color: #ffffff;
    background-color: #7a5900;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.new-game-btn.dark-mode {
    width: fit-content;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    color: #f4be48;
    background-color: #402d00;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.dismiss-btn.dark-mode {
    background-color: #402d00;
    color: #f4be48;
}

.dark-mode-btn {
    display: flex;
    align-content: center;
    background-color: #ede1cf;
    color: #4d4639;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.dark-mode-btn.dark-mode {
    background-color: #4d4639;
    color: #d1c5b4;
}

span.dark-mode-icon {
    font-size: 1rem;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
  }

main {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.card {
    height: 22rem;
    width: 16rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 300ms;
    /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6); */
}

.card:hover {
    /* box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4); */
    transform: scale(1.05);
}

.back {
    background-image: url('https://static.hbo.com/game-of-thrones-1-1920x1080.jpg');
    border-radius: inherit;
    background-size: cover;
    background-position: center;
}

.front, .back {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.front {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.background-image {
    height: 100%;
    width: 100%;
    background-position: center top;
    background-size: cover;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
}

.rotated {
    transform: rotateY(180deg);
}

.content-container {
    height: 100%;
    padding: 1rem;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: inherit;
}

/* Gameplay modal */
.gameplay-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, .5); */
    background-image: url('https://r4.wallpaperflare.com/wallpaper/626/491/591/game-of-thrones-fantasy-art-artwork-the-wall-wallpaper-49f0884dc18abd4b56b7181ff0c1e6bd.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transition: ease-in-out 400ms;
}

.gameplay-modal-container.hide {
    opacity: 0;
    pointer-events: none;
}

.gameplay-modal {
    height: fit-content;
    width: 45vw;
    background-color: #fffbff;
    color: #1e1b16;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 1rem;
    align-items: center;
    padding: 2.5rem;
    text-align: center;
    border-radius: 1rem;
    transform: translateY(0rem);
    transition: ease-in-out 400ms;
}

.gameplay-modal.hide {
    transform: translateY(60rem);
    pointer-events: none;
    box-shadow: none;

}

/* Winner Modal*/
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: ease-in-out 400ms;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    height: fit-content;
    width: 50vw;
    background-color: #fffbff;
    color: #1e1b16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 1rem;
    align-items: center;
    padding: 2.5rem;
    text-align: center;
    border-radius: 1rem;
    transform: translateY(60rem);
    transition: ease-in-out 400ms;
}

.modal.dark-mode {
    background-color: #1e1b16;
    color: #e9e1d9;
}

.modal.show {
    transform: translateY(0rem);
}

iframe {
    border-radius: 0.5rem;
}